http:
  middlewares:
    local-only:
      ipWhiteList:
        sourceRange:
          - "172.0.0.1/8"  # Only allow localhost
          - "127.0.0.1/8"  # Only allow localhost

  routers:
    {{gfreezy_service_name}}-https-router:
      rule: Host(`{{gfreezy_service_hostname}}`) && !Path(`/metrics`)
      entryPoints:
        - websecure
      service: {{gfreezy_service_name}}-service
      tls: {% if gfreezy_service_use_custom_cert %}
        certResolver: myresolver
      {%- else -%}
        {}
      {%- endif %}

    {{gfreezy_service_name}}-http-router:
      rule: Host(`{{gfreezy_service_hostname}}`) && !Path(`/metrics`)
      entryPoints:
        - web
      service: {{gfreezy_service_name}}-service

    {{gfreezy_service_name}}-metrics-router:
      rule: Host(`{{gfreezy_service_hostname}}`) && Path(`/metrics`)
      entryPoints:
        - web
      middlewares:
        - "local-only"
      service: {{gfreezy_service_name}}-service

  services:
    {{gfreezy_service_name}}-service:
      loadBalancer:
        servers:
          {% for result in template_gfreezy_service_names -%}
          - url: http://{{result}}:{{gfreezy_service_port}}
          {% endfor %}
